<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
          <%= image_tag("BMW4.png", alt: "First slide") %>
      </div>
      <div class="item">
          <%= image_tag("tea.jpg", alt: "First slide") %>
      </div>
      <div class="item active">
          <%= image_tag("Guitar.jpg", alt: "First slide") %>
      </div>
    </div>
  
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class="jumbotron">
    <h1>What do you think of this?</h1>
    <p>You only have your comments on what you think on a thread of conversation. The best reviews will be reputed by users.</p>
    <p><a href="microposts/new" class="btn btn-primary btn-lg" role="button">Comments here!</a></p>
  </div>

  <div class="row">

    <!-- div class="col-sm-8 blog-main"> -->
      <h1>Listing microposts</h1>

      <%= render "microposts/list" %>

      <!-- <div class="pager">
        <ul>
          <li><a href="#">Prev</a></li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div> -->

    <!-- </div> --><!-- /.blog-main -->

    <!-- <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div> --><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div> <!-- /container -->

