@import "bootstrap";

body {
	margin-top: 45px;
}

.panel {
  margin-top: 15px;
}

.container .jumbotron {
	border-radius: 6px;
	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}

.timeline {
	border-left: 3px solid #34495E;
	margin-left: 110px;
	padding-left: 0px;
}

.content-first {
	background-color: #eeeeee;
	padding: 50px 0 0 20px;
	color: #050505;
	border-top: 8px inset #333;
	border-top: 8px solid rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2);
	border-radius: 6px;
	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.glyphicon { 
    word-spacing: -5px;
    font-size: 1.1em;
}

/*------------------------------
	ABOUT
------------------------------*/
#about {
	padding-bottom:0;
}

#about h3 {
	border-bottom:3px solid #d3d6db;
	padding-bottom:5px;
	max-width:350px;
}

#about p {
  font-size:16px;
  text-align: justify;
  max-width: 95%;
}

#about .brands > li > a {
	background-color:transparent;
	color:#FFFFFF;
}

#about .brands > li > a:hover {
	color:#34495E;
	transition-duration:0.4s;
}

/* TWITTER FEED */

.tweets {
	margin-top:15px;
  margin-bottom:25px;
	background-color:#16A085;
	border-radius:6px;
	padding:7px 0;
	color:#FFFFFF;
	height:135px;
	width: 97%;

}

.tweets p {
	padding:8px 15px 0 0px;
	font-family:'Montserrat';
	font-size:16px;
}

.tweets .media-body {
	padding-left:0;
}

.tweets i {
	font-size:68px;
	color:#34495E;
	padding-left:15px;
}

/* IMAGE OVERLAY */

.overlay-wrapper {
	position:relative;
}

.overlay-wrapper .overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
	text-align:center;
	padding-top:25%;
	border-radius:150px;
}

.overlay-wrapper:hover .overlay {
	background-color:rgba(0,0,0,0.5);
	opacity:1;
	transition-duration:0.6s;
}

#about .overlay-wrapper .brands > li > a {
	width:25px;
	margin-top:15px;
}

#about .overlay-wrapper .brands > li > a:hover {
	color:#1ABC9C;
}

/* SKILLS */

#skills {
	display:none;
	background-color:#2F4254;
	padding: 30px 0;
}

#skills-toggle {
	border-radius:5px 5px 0 0;
}

.easyPieChart {
    position: relative;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chart {
    margin: 10px auto;
	font-size: 14px;
    font-weight: bold;
	height: 100px;
    line-height: 100px;
    width: 100px;
	text-align: center;
}

.timeline {
    border-left:3px solid #34495E;
    margin-left:110px;
    padding-left:5px;
}

.event {
	padding:20px 10px 20px 18px;
	margin-bottom:15px;
}

.event .event-info {
	position:absolute;
	left:50px;
	width:100px;
}

.event .event-info:after {
	width:36px;
	height:36px;
    position: absolute;
    right: 5px;
    top: -7px;
	content:"ok";
	text-align:center;
	font-size:14px;
	border-radius:50%;
	background-color:#FFF;
	border:6px solid #34495E;
	display: inline-block;
	padding-top:2px;
}

.event .event-info .date {
	font-size:12px;
	margin-left:30px;
}

.event .event-info .date div {
	float:left;
	padding:8px 0 0 12px;
	font-weight:600;
}

/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */
#footer-widgets {
  background-color: #686868;
  color: #eee;
  padding: 0px 0 20px 0;
  margin-top: 30px;
  border-top: solid 1px #ccc;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.footer-widget-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  color: #0eb7ff;
}
#footer-widgets a {
  color: #eee;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#footer-widgets a:hover {
  color: #0eb7ff;
}
#footer {
  background-color: #333;
  color: #ccc;
  padding: 17px 0;
  text-align: center;
  border-top: solid 1px #555;
}
#footer a {
  color: #0099da;
  text-decoration: none;
}
#footer a:hover {
  color: #0099da;
}
#footer p {
  margin: 0;
  padding: 0;
  line-height: 100%;
}
.footer-widget .media {
  margin-bottom: 10px;
}
.footer-widget .media .media-heading {
  font-size: 1.1em;
  line-height: 1.3em;
}
.footer-widget small {
  color: #ccc;
  font-style: oblique;
}
.footer-widget .thumbnail {
  border-color: #666;
  background-color: rgba(0, 0, 0, 0.2);
}
.three_cols {
  overflow: hidden;
}
.three_cols > li {
  float: left;
  width: 33.333%;
  padding-bottom: 2px;
  padding-top: 1px;
}
.input-group > input[type="text"] {
  height: 34px;
  position: relative;
  z-index: 3;
}
input.input-lg[type="text"] {
  height: 40px !important;
}