<div class="container">

    <h2>Name and Last_Name</h2>
    <p class="lead">
        date_created
    </p>
    
    <div class="alert alert-info">
        <h4>Description</h4>
        <p>code description</p>
    </div>

    <hr />

    <div class="method">
        <div class="row margin-0 list-header hidden-sm hidden-xs">
            <div class="col-md-2"><div class="header">Property</div></div>
            <div class="col-md-10"><div class="header">Content</div></div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        Phone  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p>phone</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        Bird Date  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p>bird_date</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        Gender  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p>gender</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        facebook  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p>facebook</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        twitter  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p>twitter</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        skype  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p>skype</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
